**/bin/*
**/obj/*
.vs/*
_codegen_xsd_exe/filter_MOD/*
_codegen_xsd_exe/gco/*
_codegen_xsd_exe/gmd/*
_codegen_xsd_exe/gml/*
_codegen_xsd_exe/gmlcov/*
_codegen_xsd_exe/gsr/*
_codegen_xsd_exe/gss/*
_codegen_xsd_exe/gts/*
_codegen_xsd_exe/om/*
_codegen_xsd_exe/ows/*
_codegen_xsd_exe/sampling/*
_codegen_xsd_exe/samplingSpatial/*
_codegen_xsd_exe/sos/*
_codegen_xsd_exe/sps/*
_codegen_xsd_exe/swe/*
_codegen_xsd_exe/swes/*
_codegen_xsd_exe/tsml/*
_codegen_xsd_exe/wsaddr/*
_codegen_xsd_exe/wsn/*
_codegen_xsd_exe/xlink/*
_codegen_xsd_exe/xml/*
_testfiles_from_spec/*.xml
_testfiles_from_spec/data quality.txt
MessageSerialiserMeas/XsdGen.cs
packages/*